.consultation {
    min-height: 680px;
    background: url(../../img/consultation-bg.png) center (center/cover) no-repeat;
    padding: 100px 0 92px 0;

    &__descr {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 20px;
    }

    .error {
        color: #FFFFFF;
        border: 1px solid $main-color;
        text-align: center;
        margin-bottom: 15px;
    }
    label.error {
        border: none;
    }
}